body {
    background-color: #1e2021;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    color: white;
}

a {
    color: red;
}

p {
    color: white;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    background-color: #6f71a1;
    font-size: 16px;
    margin: 20px 25px;
    font-family: 'PT Serif', serif;
}

button:hover {
    background-color: #0e1082;
    color: white;
}

label {
    display: inline-block;
    width: 120px;
    color: white;
}

div{
    margin-top: 10px
}

.div-center{
    margin: auto;
    padding-top: 10%;
}

input {
    width:50px;
    border-radius: 5px;
    font-family: 'PT Serif', serif;
}

.fielderror-container {
    margin-top: 5px;
}

.fielderror-detail {
    margin-top: 5px;
    margin-left: 130px;
    color: #c94b4b;
}