<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="www.thymelaeaf.org">
    <meta http-equiv="refresh" content="5; URL=/input">
    <title>Error</title>

    <style>
        body {
        background-color: #1e2021;
        }

        h1 {
        color: white;
        }
        a {
        color: red;
        }

        p {
        color: white;
        }
    </style>
</head>
<body>
<h1>Input Failure</h1>
<p>Text der die richtige Eingabe erklärt</p>
<a href="/input">Startpage...</a>
</body>
</html>