<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="www.thymelaeaf.org">
    <meta http-equiv="refresh" content="5; URL=/input">
    <title>Error</title>

    <link rel="stylesheet" href="style.css"/>

</head>
<body>
<div class="div-center" style="width:600px;">
    <h1>Ups... You did it again!</h1>
    <p>If you want to calculate your network addresses please go back and try it again. See the examples below.</p>
    <p>Now you have at least five seconds to read this text and check the examples!</p>
    <p>IP&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp --> 192.168.2.1</p>
    <p>Netmask --> 255.255.255.0</p>
    <a href="/input">Startpage...</a>
</div>
</body>
</html>