<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" xmlns:th="www.thymelaeaf.org">
    <title>IP Calculator</title>

    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<div class="div-center" style="width:380px;">
    <h1>IP-Calculator</h1>
<div>
        <form method="post" action="input" th:object="${networkInputForm}">
            <div>
                <label for="ipAddress">Ip-Address:</label>
                <input id="ipAddress" th:field="*{ipAddress}" placeholder="Enter IP Address" name="ipAddress" type="text" autofocus autocomplete="on" />

                <label style="width:6px" for="cidr">/</label>
                <input style="width:25px" id="cidr" th:field="*{cidr}" placeholder="--" name="cidr" type="text" autocomplete="on">

                <div class="fielderror-container" th:if="${#fields.hasErrors('ipAddress')}">
                    <div class="fielderror-detail" th:each="err : ${#fields.errors('ipAddress')}" th:text="${err}"></div>
                </div>
            </div>

            <div>
                <label for="subnetMask">Subnetmask:</label>
                <input id="subnetMask" th:field="*{subNetMask}" placeholder="Enter Subnetmask" name="subNetMask" type="text" autocomplete="on" />
                <div class="fielderror-container" th:if="${#fields.hasErrors('subNetMask')}">
                    <div class="fielderror-detail" th:each="err : ${#fields.errors('subNetMask')}" th:text="${err}"></div>
                </div>
            </div>

            <div>
                <button type="submit" value="Submit">Submit</button>
                <button type="reset" value="Reset">Reset</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>