<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" xmlns:th="www.thymelaeaf.org">
    <title>Title</title>
</head>
<body>
<!--<input id="inputIpAddress" type="text" value="Enter IP Address">-->
<!--<input id="inputSubnetMask" type="text" value="Enter Subnetmask">-->
<!--<input type="submit"-->
<!--       value="Submit">-->
<form method="get" action="main">
    <p><input id="ipAddress" placeholder="Enter IP Address" name="ipAddress" required type="text" /></p>
    <p><input id="subnetMask" placeholder="Enter Subnetmask" name="subNetMask" required type="text" /></p>
    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset" />
</form>
</body>
</html>