<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" xmlns:th="www.thymelaeaf.org">
    <title>IP-Calculator</title>
</head>
<body>
<h1>IP-Calculator</h1>
<div style="width:680px; float:left">
    <h2>Network overview</h2>
    <div style="width:120px; float:left">
        <h4>Type</h4>
        <p>IP-Address:</p>
        <p>Subnetmask:</p>
        <p>Net-ID:</p>
        <p>Broadcast:</p>
        <p>Max Clients:</p>
    </div>
    <div style="width:200px; float:left">
        <h4>Decimal</h4>
        <p th:text="${ipAddress}"></p>
        <p th:text="${subNetMask}"></p>
        <p th:text="${netId}"></p>
        <p th:text="${broadcast}"></p>
        <p th:text="${clients}"></p>
    </div>
    <div style="width:350px; float:left">
        <h4>Binary</h4>
        <p th:text="${ipBinary}"></p>
        <p th:text="${snmBinary}"></p>
        <p th:text="${netIdBinary}"></p>
        <p th:text="${broadcastBinary}"></p>
    </div>
</div>


</body>
</html>